<div th:fragment="information" xmlns:th="http://www.w3.org/1999/xhtml">
    <small class="text-muted">Học vị</small>
    <h6>Tiến sĩ</h6>
</div>

<div class="col-9" th:fragment="data" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="accordionexample" class="accordion" role="tablist" aria-multiselectable="true">
        <!--education-->
        <div class="card">
            <div class="card-header" role="tab" id="educationArea">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordionexample" href="#educationToggle" aria-expanded="true" aria-controls="educationToggle">
                        Học vấn
                    </a>
                </h5>
            </div>
            <div id="educationToggle" class="collapse show" role="tabpanel" aria-labelledby="educationArea">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
            </div>
        </div>

        <!--career-->
        <div class="card">
            <div class="card-header" role="tab" id="careerArea">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionexample" href="#careerToggle" aria-expanded="false" aria-controls="careerToggle">
                        Quá trình công tác
                    </a>
                </h5>
            </div>
            <div id="careerToggle" class="collapse" role="tabpanel" aria-labelledby="careerArea">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
            </div>
        </div>

        <!--research-->
        <div class="card">
            <div class="card-header" role="tab" id="researchArea">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionexample" href="#researchToggle" aria-expanded="false" aria-controls="researchToggle">
                        Các đề tài nghiên cứu khoa học
                    </a>
                </h5>
            </div>
            <div id="researchToggle" class="collapse" role="tabpanel" aria-labelledby="researchArea">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
            </div>
        </div>

        <!--publication-->
        <div class="card">
            <div class="card-header" role="tab" id="publicationArea">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionexample" href="#publicationToggle" aria-expanded="false" aria-controls="publicationToggle">
                        Các bài báo đã xuất bản
                    </a>
                </h5>
            </div>
            <div id="publicationToggle" class="collapse" role="tabpanel" aria-labelledby="publicationArea">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
            </div>
        </div>

        <!--award-->
        <div class="card">
            <div class="card-header" role="tab" id="awardArea">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionexample" href="#awardToggle" aria-expanded="false" aria-controls="awardToggle">
                        Các giải thưởng và danh hiệu
                    </a>
                </h5>
            </div>
            <div id="awardToggle" class="collapse" role="tabpanel" aria-labelledby="awardArea">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="js" xmlns:th="http://www.w3.org/1999/xhtml">

</div>