<div th:fragment="information" xmlns:th="http://www.w3.org/1999/xhtml">
    <small class="text-muted">Trình độ</small>
    <h6>Cao thủ</h6>
    <small class="text-muted">Số bài giải được</small>
    <h6>123</h6>
    <small class="text-muted">Tổng số điểm</small>
    <h6>1234</h6>
    <small class="text-muted">Lớp</small>
    <h6>KTPM_CLC_K9</h6>
</div>
<div class="col-8" th:fragment="data" xmlns:th="http://www.w3.org/1999/xhtml">

</div>
<div th:fragment="js" xmlns:th="http://www.w3.org/1999/xhtml">

</div>