<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.AnnouncementMapper">
    <select id="countAnnouncementList" resultType="java.lang.Integer">
        select count(*) from ct_at
        INNER JOIN announcement
        on ct_at.atId = announcement.id
        and announcement.deleteFlg = '0'
        <if test="!getAllAnnounce">
            AND announcement.isHidden = 0
        </if>
        where ct_at.ctId = #{ctId}
        AND ct_at.deleteFlg = '0'
    </select>
    <select id="getAnnouncementList" resultMap="resAnnounce">
        SELECT
            announcement.id,
            announcement.pmId,
        announcement.updateTime,
            problem.name,
            announcement.question,
            announcement.answer,
            announcement.isFromCreator,
            announcement.isHidden,
            announcement.isAnswered
        FROM ct_at
            INNER JOIN announcement
                ON ct_at.atId = announcement.id
                   AND announcement.deleteFlg = '0'
            LEFT JOIN problem
                ON announcement.pmId = problem.id
                   AND problem.deleteFlg = '0'
        WHERE ct_at.ctId = #{ctId}
        <if test="!getAllAnnounce">
            AND announcement.isHidden = 0
        </if>
        ORDER BY updateTime DESC
    </select>
    <resultMap id="resAnnounce" type="AnnouncementDTO">
        <id column="id" property="id"/>
        <result column="question" property="question"/>
        <result column="answer" property="answer"/>
        <result column="updateTime" property="updateTime"/>
        <result column="isHidden" property="isHidden"/>
        <result column="isFromCreator" property="isFromCreator"/>
        <result column="isAnswered" property="isAnswered"/>
        <association property="problem" javaType="ProblemDTO">
            <id column="pmId" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
</mapper>