<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.AuthorityMapper">
    <select id="getProblemAuthority" resultType="AuthorityDTO">
        SELECT
            authority.id,
            authority.name
        FROM authority
            INNER JOIN ur_pm_auy
                ON authority.id = ur_pm_auy.auyId
                   AND ur_pm_auy.pmId = #{pmId}
                   AND ur_pm_auy.deleteFlg = '0'
            INNER JOIN user
                ON ur_pm_auy.urId = user.id
                   AND user.handle = #{handle}
        WHERE authority.deleteFlg = '0'
    </select>
    <select id="getDefaultAuthorityForRole" resultType="AuthorityDTO">
        SELECT
            authority.id,
            authority.name
        FROM re_auy
            INNER JOIN authority
                ON authority.id = re_auy.auyId
                   AND authority.deleteFlg = '0'
        WHERE re_auy.reId = ${reId}
              AND re_auy.deleteFlg = '0'

    </select>
    <select id="getDefaultAuthorityForUser" resultType="AuthorityDTO">
        SELECT
            authority.id,
            authority.name
        FROM ur_auy
            INNER JOIN authority
                ON authority.id = ur_auy.auyId
                   AND authority.deleteFlg = '0'
        WHERE ur_auy.deleteFlg = '0'
              AND ur_auy.urId = #{urId}
    </select>
    <select id="getContestAuthority" resultType="AuthorityDTO">
        SELECT
            authority.id,
            authority.name
        FROM authority
            INNER JOIN ur_ct_auy
                ON authority.id = ur_ct_auy.auyId
                   AND ur_ct_auy.ctId = #{ctId}
                   AND ur_ct_auy.deleteFlg = '0'
            INNER JOIN user
                ON ur_ct_auy.urId = user.id
                   AND user.handle = #{handle}
        WHERE authority.deleteFlg = '0'
    </select>
    <select id="getCourseAuthority" resultType="AuthorityDTO">
        SELECT
            authority.id,
            authority.name
        FROM authority
            INNER JOIN ur_ce_auy
                ON authority.id = ur_ce_auy.auyId
                   AND ur_ce_auy.ceId = #{ceId}
                   AND ur_ce_auy.deleteFlg = '0'
            INNER JOIN user
                ON ur_ce_auy.urId = user.id
                   AND user.handle = #{handle}
        WHERE authority.deleteFlg = '0'
    </select>
    <delete id="deleteAllDefaultAuthForUser">
        delete from ur_auy
            where urId = #{urId}
    </delete>
</mapper>