<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.ContestMapper">
    <select id="getAllContest" resultMap="contestLst">
        SELECT
            contest.id,
            contest.name,
            contest.startTime,
            contest.duration,
            user.fullname,
            user.id AS urId,
            countTbl.userCnt
        FROM contest
            INNER JOIN user
                ON contest.createUser = user.handle
            INNER JOIN (
                           SELECT
                               ctId,
                               count(*) AS userCnt
                           FROM ur_ct_auy
                           WHERE auyId = #{auth_participate_contest_id}
                           GROUP BY ctId
                       ) AS countTbl
                ON contest.id = countTbl.ctId
        WHERE contest.deleteFlg = '0'
        ORDER BY contest.startTime DESC
    </select>
    <select id="getParticipatedContest" resultMap="contestParticipated">
        SELECT
            contest.id,
            contest.name,
            contest.startTime,
            user.id as urId,
            user.fullname,
            ur_ct_auy.rank
        FROM ur_ct_auy
            INNER JOIN contest
                ON contest.id = ur_ct_auy.ctId
                   AND contest.deleteFlg = '0'
            INNER JOIN user
                ON user.handle = contest.createUser
                   AND user.deleteFlg = '0'
        WHERE ur_ct_auy.urId = #{urId}
              AND ur_ct_auy.auyId = #{auth_participate_contest_id}
              AND ur_ct_auy.deleteFlg = '0'
    </select>
    <resultMap id="contestParticipated" type="ContestDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="startTime"/>
        <result property="rank" column="rank"/>
        <association property="creator" javaType="UserDTO">
            <id property="id" column="id"/>
            <result column="fullname" property="fullname"/>
        </association>
    </resultMap>
    <resultMap id="contestLst" type="ContestDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="startTime" property="createTime"/>
        <result column="duration" property="duration"/>
        <result column="userCnt" property="userCnt"/>
        <association property="creator" javaType="UserDTO">
            <id column="urId" property="id"/>
            <result column="fullname" property="fullname"/>
        </association>
    </resultMap>
</mapper>