<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.CourseMapper">
    <select id="countApplication" resultType="java.lang.Integer">
        SELECT count(*)
        FROM application
        WHERE application.ceId = #{ceId}
              AND application.status = 0
    </select>
    <select id="getAllCourse" resultMap="courseLst">
        SELECT
            course.id,
            course.name,
            course.startTime,
            course.endTime,
            course.description,
            user.fullname,
            user.id AS urId,
            countTbl.userCnt
        FROM course
            INNER JOIN user
                ON course.createUser = user.handle
            INNER JOIN (
                           SELECT
                               ceId,
                               count(*) AS userCnt
                           FROM ur_ce_auy
                           WHERE auyId = #{auth_participate_course_id}
                           GROUP BY ceId
                       ) AS countTbl
                ON course.id = countTbl.ceId
        WHERE course.deleteFlg = '0'
        ORDER BY course.startTime DESC
    </select>
    <resultMap id="courseLst" type="CourseDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="startTime" property="start"/>
        <result column="endTime" property="end"/>
        <result column="userCnt" property="userCnt"/>
        <result column="description" property="description"/>
        <association property="creator" javaType="UserDTO">
            <id column="urId" property="id"/>
            <result column="fullname" property="fullname"/>
        </association>
    </resultMap>
</mapper>