<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.MessageMapper">
    <select id="getRecentMessage" resultType="MessageDTO">
        SELECT
            user.fullname AS username,
            user.id,
            message.createTime,
            message.content
        FROM message
            INNER JOIN
            conversation
                ON message.cnId = conversation.id
                   AND conversation.topic = #{topic}
                   AND conversation.deleteFlg = '0'
            INNER JOIN user
                ON message.urID = user.id
                   AND user.deleteFlg = '0'
        WHERE message.deleteFlg = '0'
        ORDER BY message.createTime DESC
        LIMIT 0, #{number}
    </select>
</mapper>