<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.MessageMapper">
    <select id="getMessageNotify" resultMap="messageNotify">
        SELECT
            message.id,
            user.fullname,
            message.urId    AS sender,
            temp.createTime AS createTime,
            message.content
        FROM
            messagenotification
            INNER JOIN
            message
                ON messagenotification.meId = message.id
                   AND message.deleteFlg = '0'
            INNER JOIN
            (
                SELECT
                    messagenotification.urId,
                    MAX(messagenotification.createTime) AS createTime,
                    message.cnId
                FROM
                    message
                    INNER JOIN messagenotification
                        ON messagenotification.meId = message.id
                           AND messagenotification.deleteFlg = '0'
                           AND messagenotification.urId = #{urId}
                           AND messagenotification.isRead = 0
                    INNER JOIN conversation ON message.cnId = conversation.id
                GROUP BY conversation.id
            ) AS temp
                ON messagenotification.createTime = temp.createTime
                   AND messagenotification.deleteFlg = '0'
                   AND messagenotification.urId = temp.urId
                   AND message.cnId = temp.cnId
            INNER JOIN user
                ON message.urId = user.id
    </select>
    <update id="updateMessageStatus">
        UPDATE messagenotification
        SET isRead = 1
        WHERE isRead = 0
              AND urId = #{urId}
              AND meId IN (
            SELECT meId
            FROM message
                INNER JOIN conversation
                    ON message.cnId = conversation.id
                       AND conversation.topic = #{topic}
        )
    </update>
    <select id="getRecentMessage" resultType="MessageDTO">
        SELECT
            user.fullname AS username,
            user.id,
            message.createTime,
            message.content,
            messagenotification.isRead
        FROM message
            INNER JOIN
            conversation
                ON message.cnId = conversation.id
                   AND conversation.topic = #{topic}
                   AND conversation.deleteFlg = '0'
            INNER JOIN user
                ON message.urID = user.id
                   AND user.deleteFlg = '0'
            INNER JOIN messagenotification
                ON message.id = messagenotification.meId
                   AND messagenotification.deleteFlg = '0'
                   AND messagenotification.urId = #{urId}
        WHERE message.deleteFlg = '0'
        ORDER BY message.createTime DESC
        LIMIT #{from}, #{size}
    </select>
    <select id="getPublicMessage" resultType="MessageDTO">
        SELECT
            user.fullname AS username,
            user.id,
            message.createTime,
            message.content
        FROM message
            INNER JOIN
            conversation
                ON message.cnId = conversation.id
                   AND conversation.topic = #{topic}
                   AND conversation.deleteFlg = '0'
            INNER JOIN user
                ON message.urID = user.id
                   AND user.deleteFlg = '0'
        WHERE message.deleteFlg = '0'
        ORDER BY message.createTime DESC
        LIMIT #{from}, #{size}
    </select>
    <resultMap id="messageNotify" type="MessageDTO">
        <id column="id" property="id"/>
        <result column="createTime" property="createTime"/>
        <result column="content" property="content"/>
        <result column="sender" property="urId"/>
        <result column="fullname" property="username"/>
    </resultMap>
</mapper>