<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="InputDTO" type="com.minh.nguyen.dto.InputDTO"/>
        <typeAlias alias="ProblemDTO" type="com.minh.nguyen.dto.ProblemDTO"/>
        <typeAlias alias="TagDTO" type="com.minh.nguyen.dto.TagDTO"/>
        <typeAlias alias="LanguageDTO" type="com.minh.nguyen.dto.LanguageDTO"/>
        <typeAlias alias="SubmissionDTO" type="com.minh.nguyen.dto.SubmissionDTO"/>
        <typeAlias alias="SubmitDetailDTO" type="com.minh.nguyen.dto.SubmitDetailDTO"/>
    </typeAliases>
    <typeHandlers>
    </typeHandlers>
    <mappers>
        <mapper resource="sqlmapper/InputMapper.xml"/>
        <mapper resource="sqlmapper/ProblemMapper.xml"/>
        <mapper resource="sqlmapper/LanguageMapper.xml"/>
        <mapper resource="sqlmapper/SubmissionMapper.xml"/>
        <!--<package name="sqlmapper"/>-->
    </mappers>

</configuration>