<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.UserMapper">
    <select id="getUserAuthority" resultMap="UserDetail">
        SELECT
            user.id        AS urId,
            user.handle    AS handle,
            user.password  AS password,
            authority.id   AS auyId,
            authority.name AS auyName
        FROM user
            LEFT JOIN role
                ON user.reId = role.id
            LEFT JOIN re_auy
                ON role.id = re_auy.reId
            LEFT JOIN authority
                ON re_auy.auyId = authority.id
        WHERE
            user.handle = #{handle}
            AND user.deleteFlg = '0'
    </select>

    <select id="getLeaderboardInfor" resultMap="leaderboard">
        SELECT
            user.id                AS urId,
            user.fullname          AS urName,
            problem.id             AS pmId,
            problem.name           AS pmName,
            problem.firstSolve     AS firstSolve,
            contest.startTime      AS startTime,
            submission.id          AS snId,
            submission.createTime  AS submitTime,
            submission.judgeStatus AS judgeStatus
        FROM user
            INNER JOIN ur_ct_auy
                ON user.id = ur_ct_auy.urId
                   AND ur_ct_auy.deleteFlg = '0'
                   AND ur_ct_auy.auyId = #{auth_participate_id}
                   AND ur_ct_auy.ctId = #{ctId}
            INNER JOIN contest
                ON ur_ct_auy.ctId = contest.id
            LEFT JOIN ct_pm
                ON ur_ct_auy.ctId = ct_pm.ctId
                   AND ct_pm.isHidden = 0
            LEFT JOIN problem
                ON ct_pm.pmId = problem.id
            LEFT JOIN submission
                ON problem.id = submission.pmId
                   AND user.id = submission.urId
        WHERE user.deleteFlg = '0'
        ORDER BY urId, pmId, submitTime
    </select>
    <resultMap id="leaderboard" type="UserDTO">
        <id column="urId" property="id"/>
        <result column="urName" property="fullname"/>
        <result column="startTime" property="contestStartTime"/>
        <collection property="lstProblem" ofType="ProblemDTO">
            <id column="pmId" property="id"/>
            <result column="pmName" property="name"/>
            <result column="firstSolve" property="firstSolveTime"/>
            <collection property="lstSubmission" ofType="SubmissionDTO">
                <id column="snId" property="id"/>
                <result column="submitTime" property="createTime"/>
                <result column="judgeStatus" property="judgeStatus"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="UserDetail" type="UserDTO">
        <id column="urId" property="id"/>
        <result column="handle" property="handle"/>
        <result column="password" property="password"/>
        <collection property="lstAuthority" ofType="AuthorityDTO">
            <id column="auyId" property="id"/>
            <result column="auyName" property="name"/>
        </collection>
    </resultMap>
</mapper>