<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minh.nguyen.mapper.UserMapper">
    <select id="findUserInConversation" resultType="UserDTO">
        SELECT
            user.fullname,
            user.id
        FROM ur_cn
            INNER JOIN conversation
                ON conversation.id = ur_cn.cnId
                   AND conversation.topic = #{topic}
            INNER JOIN user
                ON user.id = ur_cn.urId
                   AND user.deleteFlg = '0'
        WHERE ur_cn.deleteFlg = '0'

    </select>
    <select id="findListUserByFullnameOrHandle" resultMap="UserListInMessage">
        select user.fullname,
        user.id,
        user.reId,
        role.text
        from user
        left join role
        on role.id = user.reId
        and role.deleteFlg = '0'
        where user.deleteFlg = '0'
        and user.id != #{urId}
        <if test="text != null and text.length > 0">
            and (user.handle like concat(#{text},'%')
            or user.fullname like concat(#{text},'%'))
        </if>
        limit #{from},#{size}
    </select>
    <select id="getUserAuthority" resultMap="UserDetail">
        SELECT
            user.id        AS urId,
            user.handle    AS handle,
            user.password  AS password,
            authority.id   AS auyId,
            authority.name AS auyName
        FROM ur_auy
            INNER JOIN user
                ON ur_auy.urId = user.id
                and user.deleteFlg = '0'
                and user.handle = #{handle}
            INNER JOIN authority
              on ur_auy.auyId = authority.id
              and authority.deleteFlg = '0'
        WHERE ur_auy.deleteFlg = '0'
    </select>

    <select id="getLeaderboardIOIForContest" resultMap="leaderboard">
        SELECT
            user.id                AS urId,
            user.fullname          AS urName,
            problem.id             AS pmId,
            problem.name           AS pmName,
            ct_pm.firstSolve       AS firstSolve,
            contest.startTime      AS startTime,
            submission.id          AS snId,
            submission.createTime  AS submitTime,
            submission.judgeStatus AS judgeStatus
        FROM user
            INNER JOIN ur_ct_auy
                ON user.id = ur_ct_auy.urId
                   AND ur_ct_auy.deleteFlg = '0'
                   AND ur_ct_auy.auyId = #{auth_participate_id}
                   AND ur_ct_auy.ctId = #{ctId}
            INNER JOIN contest
                ON ur_ct_auy.ctId = contest.id
                   AND contest.deleteFlg = '0'
            LEFT JOIN ct_pm
                ON ur_ct_auy.ctId = ct_pm.ctId
                   AND ct_pm.isHidden = 0
                   AND ct_pm.deleteFlg = '0'
            LEFT JOIN problem
                ON ct_pm.pmId = problem.id
                   AND problem.deleteFlg = '0'
            LEFT JOIN submission
                ON problem.id = submission.pmId
                   AND submission.id IN
                       (SELECT snId
                        FROM ct_sn
                        WHERE ctId = #{ctId}
                       )
                   AND submission.deleteFlg = '0'
                   AND user.id = submission.urId
        WHERE USER.deleteFlg = '0'
        ORDER BY urId, pmId, submitTime
    </select>

    <select id="getLeaderboardACMForContest" resultMap="leaderboard">
        SELECT
            user.id                AS urId,
            user.fullname          AS urName,
            problem.id             AS pmId,
            problem.name           AS pmName,
            correctCnt.correctAns  AS correctAns,
            pmCnt.testCount        AS testCnt,
            ct_pm.firstSolve       AS firstSolve,
            contest.startTime      AS startTime,
            submission.id          AS snId,
            submission.createTime  AS submitTime,
            submission.judgeStatus AS judgeStatus
        FROM user
            INNER JOIN ur_ct_auy
                ON user.id = ur_ct_auy.urId
                   AND ur_ct_auy.deleteFlg = '0'
                   AND ur_ct_auy.auyId = #{auth_participate_id}
                   AND ur_ct_auy.ctId = #{ctId}
            INNER JOIN contest
                ON ur_ct_auy.ctId = contest.id
            LEFT JOIN ct_pm
                ON ur_ct_auy.ctId = ct_pm.ctId
                   AND ct_pm.isHidden = 0
            LEFT JOIN problem
                ON ct_pm.pmId = problem.id
            LEFT JOIN (
                          SELECT
                              pmId,
                              count(*) AS testCount
                          FROM pm_it
                          WHERE pm_it.deleteFlg = '0'
                          GROUP BY pmId
                      ) AS pmCnt
                ON problem.id = pmCnt.pmId
            LEFT JOIN submission
                ON problem.id = submission.pmId
                   AND submission.id IN (
                SELECT snId
                FROM ct_sn
                WHERE ctId = #{ctId}
            )
                   AND submission.deleteFlg = '0'
                   AND user.id = submission.urId
            LEFT JOIN (
                          SELECT
                              sn_sdl.snId,
                              count(*) AS correctAns
                          FROM submitDetail
                              INNER JOIN sn_sdl
                                  ON submitdetail.id = sn_sdl.sdlId
                                     AND sn_sdl.deleteFlg = '0'
                          WHERE submitDetail.status = #{acceptedStatus}
                                AND submitDetail.deleteFlg = '0'
                          GROUP BY sn_sdl.snId
                      ) AS correctCnt
                ON submission.id = correctCnt.snId
        WHERE user.deleteFlg = '0'
        ORDER BY urId, pmId, submitTime
    </select>

    <select id="getLeaderboardInformationForCourse" resultMap="leaderboard">
        SELECT
            user.id                AS urId,
            user.fullname          AS urName,
            problem.id             AS pmId,
            problem.name           AS pmName,
            correctCnt.correctAns  AS correctAns,
            pmCnt.testCount        AS testCnt,
            ce_pm.firstSolve       AS firstSolve,
            course.startTime       AS startTime,
            submission.id          AS snId,
            submission.createTime  AS submitTime,
            submission.judgeStatus AS judgeStatus
        FROM user
            INNER JOIN ur_ce_auy
                ON user.id = ur_ce_auy.urId
                   AND ur_ce_auy.deleteFlg = '0'
                   AND ur_ce_auy.auyId = #{auth_participate_id}
                   AND ur_ce_auy.ceId = #{ceId}
            INNER JOIN course
                ON ur_ce_auy.ceId = course.id
            LEFT JOIN ce_pm
                ON ur_ce_auy.ceId = ce_pm.ceId
                   AND ce_pm.isHidden = 0
            LEFT JOIN problem
                ON ce_pm.pmId = problem.id
            LEFT JOIN (
                          SELECT
                              pmId,
                              count(*) AS testCount
                          FROM pm_it
                          WHERE pm_it.deleteFlg = '0'
                          GROUP BY pmId
                      ) AS pmCnt
                ON problem.id = pmCnt.pmId
            LEFT JOIN submission
                ON problem.id = submission.pmId
                   AND submission.id IN
                       (SELECT snId
                        FROM ce_sn
                        WHERE ceId = #{ceId}
                       )
                   AND submission.deleteFlg = '0'
                   AND user.id = submission.urId
            LEFT JOIN (
                          SELECT
                              sn_sdl.snId,
                              count(*) AS correctAns
                          FROM submitDetail
                              INNER JOIN sn_sdl
                                  ON submitdetail.id = sn_sdl.sdlId
                                     AND sn_sdl.deleteFlg = '0'
                          WHERE submitDetail.status = #{acceptedStatus}
                                AND submitDetail.deleteFlg = '0'
                          GROUP BY sn_sdl.snId
                      ) AS correctCnt
                ON submission.id = correctCnt.snId
        WHERE user.deleteFlg = '0'
        ORDER BY urId, pmId, submitTime
    </select>

    <select id="findUserForProblemRole" resultMap="userAndRole">
        select user.id as urId,
        user.handle,
        user.fullname,
        role.id as reId,
        role.text as text
        from user
        LEFT JOIN
        role
        on user.reId = role.id
        and role.deleteFlg = '0'
        where user.id not in (
        select ur_pm_auy.urId from ur_pm_auy
        where ur_pm_auy.pmId = #{pmId}
        )
        <if test="fullname != null and fullname.length > 0">
            and user.fullname like concat('%',#{fullname},'%')
        </if>
        <if test="reId != 0">
            and user.reId = #{reId}
        </if>
    </select>

    <select id="findUserForContestRole" resultMap="userAndRole">
        select user.id as urId,
        user.handle,
        user.fullname,
        role.id as reId,
        role.text as text
        from user
        LEFT JOIN
        role
        on user.reId = role.id
        and role.deleteFlg = '0'
        <where>
            <if test="fullname != null and fullname.length > 0">
                user.fullname like concat('%',#{fullname},'%')
            </if>
            <if test="reId != 0">
                and user.reId = #{reId}
            </if>
            <if test="1 == 1">
                and user.id not in (
                select ur_ct_auy.urId from ur_ct_auy
                where ur_ct_auy.ctId = #{ctId}
                )
            </if>
        </where>
    </select>
    <select id="findUserByHandle" resultType="UserDTO">
        SELECT *
        FROM user
        WHERE user.handle = #{handle}
    </select>
    <select id="findUserById" resultType="UserDTO">
        SELECT *
        FROM user
        WHERE user.id = #{urId}
    </select>
    <select id="findUserForCourseRole" resultMap="userAndRole">
        select user.id as urId,
        user.handle,
        user.fullname,
        role.id as reId,
        role.text as text
        from user
        LEFT JOIN
        role
        on user.reId = role.id
        and role.deleteFlg = '0'
        <where>
            <if test="fullname != null and fullname.length > 0">
                user.fullname like concat('%',#{fullname},'%')
            </if>
            <if test="reId != 0">
                and user.reId = #{reId}
            </if>
            <if test="1 == 1">
                and user.id not in (
                select ur_ce_auy.urId from ur_ce_auy
                where ur_ce_auy.ceId = #{ceId}
                )
            </if>
        </where>
    </select>

    <select id="getListProblemRole" resultMap="userAndRole">
        SELECT
            user.id      AS urId,
            user.handle,
            user.fullname,
            role.id      AS reId,
            role.text    AS text,
            authority.id AS auyId
        FROM ur_pm_auy
            INNER JOIN user
                ON user.id = ur_pm_auy.urId
                   AND user.id != #{urId}
                   AND user.deleteFlg = '0'
            LEFT JOIN role
                ON user.reId = role.id
                   AND role.deleteFlg = '0'
            LEFT JOIN authority
                ON ur_pm_auy.auyId = authority.id
                   AND authority.deleteFlg = '0'
        WHERE ur_pm_auy.pmId = #{pmId}
              AND ur_pm_auy.deleteFlg = '0'
    </select>
    <select id="getListCourseRole" resultMap="userAndRole">
        SELECT
            user.id      AS urId,
            user.handle,
            user.fullname,
            role.id      AS reId,
            role.text    AS text,
            authority.id AS auyId
        FROM ur_ce_auy
            INNER JOIN user
                ON user.id = ur_ce_auy.urId
                   AND user.id != #{urId}
                   AND user.deleteFlg = '0'
            LEFT JOIN role
                ON user.reId = role.id
                   AND role.deleteFlg = '0'
            LEFT JOIN authority
                ON ur_ce_auy.auyId = authority.id
                   AND authority.deleteFlg = '0'
        WHERE ur_ce_auy.ceId = #{ceId}
              AND ur_ce_auy.deleteFlg = '0'
    </select>
    <select id="getListContestRole" resultMap="userAndRole">
        SELECT
            user.id      AS urId,
            user.handle,
            user.fullname,
            role.id      AS reId,
            role.text    AS text,
            authority.id AS auyId
        FROM ur_ct_auy
            INNER JOIN user
                ON user.id = ur_ct_auy.urId
                   AND user.id != #{urId}
                   AND user.deleteFlg = '0'
            LEFT JOIN role
                ON user.reId = role.id
                   AND role.deleteFlg = '0'
            LEFT JOIN authority
                ON ur_ct_auy.auyId = authority.id
                   AND authority.deleteFlg = '0'
        WHERE ur_ct_auy.ctId = #{ctId}
              AND ur_ct_auy.deleteFlg = '0'
    </select>
    <resultMap id="userAndRole" type="UserDTO">
        <id column="urId" property="id"/>
        <result column="handle" property="handle"/>
        <result column="fullname" property="fullname"/>
        <association property="role" javaType="RoleDTO">
            <id column="reId" property="id"/>
            <result column="text" property="text"/>
        </association>
        <collection property="lstAuthority" ofType="AuthorityDTO">
            <id column="auyId" property="id"/>
        </collection>
    </resultMap>
    <resultMap id="leaderboard" type="UserDTO">
        <id column="urId" property="id"/>
        <result column="urName" property="fullname"/>
        <result column="startTime" property="contestStartTime"/>
        <collection property="lstProblem" ofType="ProblemDTO">
            <id column="pmId" property="id"/>
            <result column="pmName" property="name"/>
            <result column="firstSolve" property="firstSolveTime"/>
            <result column="testCnt" property="testCnt"/>
            <collection property="lstSubmission" ofType="SubmissionDTO">
                <id column="snId" property="id"/>
                <result column="submitTime" property="createTime"/>
                <result column="correctAns" property="correctAns"/>
                <result column="judgeStatus" property="judgeStatus"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="UserDetail" type="UserDTO">
        <id column="urId" property="id"/>
        <result column="handle" property="handle"/>
        <result column="password" property="password"/>
        <collection property="lstAuthority" ofType="AuthorityDTO">
            <id column="auyId" property="id"/>
            <result column="auyName" property="name"/>
        </collection>
    </resultMap>
    <resultMap id="UserListInMessage" type="UserDTO">
        <id property="id" column="id"/>
        <result property="fullname" column="fullname"/>
        <association property="role" javaType="RoleDTO">
            <id property="id" column="reId"/>
            <result property="text" column="text"/>
        </association>
    </resultMap>
</mapper>